@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 5.56% 92.94%;
		--foreground: 0 0% 14.9%;
		--muted: 180 1.64% 88.04%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 95.69%;
		--popover-foreground: 0 0% 14.9%;
		--card: 240 7.69% 97.45%;
		--card-foreground: 0 0% 14.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 86.27%;
		--primary: 186.03 98.95% 37.45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 185.85 100% 91.96%;
		--secondary-foreground: 186.03 98.95% 37.45%;
		--accent: 0 0% 87.45%;
		--accent-foreground: 0 0% 14.9%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 85.71% 97.25%;
		--ring: 171 98.21% 43.92%;
		--chart-1: 141.9 55.92% 48.04%;
		--chart-2: 220.45 70.08% 50.2%;
		--chart-3: 280.15 64.88% 59.8%;
		--chart-4: 339.77 74.78% 54.9%;
		--chart-5: 37.46 100% 61.37%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 210 11.11% 3.53%;
		--foreground: 0 0% 90.2%;
		--muted: 0 0% 20%;
		--muted-foreground: 0 0% 62.75%;
		--popover: 240 1.96% 10%;
		--popover-foreground: 260 20% 97.06%;
		--card: 240 2.56% 7.65%;
		--card-foreground: 260 20% 97.06%;
		--border: 0 0% 11.76%;
		--input: 0 0% 18.43%;
		--primary: 186.03 98.95% 37.45%;
		--primary-foreground: 0 0% 100%;
		--secondary: 185.85 100% 91.96%;
		--secondary-foreground: 186.03 98.95% 37.45%;
		--accent: 240 0.92% 21.37%;
		--accent-foreground: 0 0% 62.75%;
		--destructive: 0 84.24% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--ring: 170.92 97.88% 62.94%;
		--chart-1: 142.5 56.14% 55.29%;
		--chart-2: 220.45 70.08% 50.2%;
		--chart-3: 280.15 64.88% 59.8%;
		--chart-4: 339.77 74.78% 54.9%;
		--chart-5: 37.46 100% 61.37%;
	}
}
